<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="<%= context.publicPath %>favicon.svg">
        <title>快翻-国际化翻译工具</title>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>